* {
  margin: 0px;
}
.MainHeader {
  background-image: url(Images/Header2.jpg);
  height: 7rem;
  border: black solid 1px;
  animation-duration: 5s;
}
#Header1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e71414;
  font-size: 40px;
  padding: 1rem 0 1rem;
}
#Header2 {
  font-size: 20px;
  font-family: cursive;
  color: rgb(121, 238, 25);
}

.NavBar li {
  color: #3414e7;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: inline-table;
  padding: 1rem 4rem 1rem;
  animation-duration: 5s;
}

.NavBar a {
  text-decoration: none;
}

.MainBody {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 38rem;
  border: black solid 1px;
}

.col-1 {
  background-color: black;
  padding: 5rem 3rem 3rem;
}
.col-1 h3 {
  color: rgb(238, 147, 138);
  font-family: "Merienda";
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 2rem;
}
.MainBody p {
  color: rgb(238, 205, 202);
  font-family: "Merienda";
  line-height: 2.2rem;
  font-size: 25px;
  font-weight: bold;
}
.col-2 {
  background-image: url(Images/MainContent2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: black solid 1px;
}
.Footer li {
  color: #210d92;
  font-size: 20px;
  display: inline-block;
  padding: 1rem 2rem 1rem;
}
.Footer a {
  text-decoration: none;
}
.Links {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.Links ul {
  line-height: 1rem;
  font-size: 35px;
  font-weight: bold;
  color: crimson;
  line-height: 3rem;
  margin-top: 5%;
  margin-left: 33%;
}
.Links h2 {
  padding: 1rem;
}
.Links a {
  text-decoration: none;
  color: crimson;
}

.About {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.About p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: crimson;
  margin-top: 5%;
  line-height: 4rem;
}
.About h2 {
  padding: 1rem;
}
.About a {
  text-decoration: none;
  color: crimson;
}
.Contact {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.Contact p {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: crimson;
  margin-top: 5%;
  line-height: 4rem;
}
.Contact h2 {
  padding: 1rem;
}
.Contact a {
  text-decoration: none;
  color: crimson;
}
